.cards__button-like {
  width: 22px;
  height: 19px;
  background-image: url(../../../image/button-like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: 1px solid white;
  box-sizing: border-box;
  align-self: center;
}

.cards__button-like:hover{
  opacity: 0.6;
  background-image: url(../../../image/button-like-hover.svg);
}
